/* enable absolute positioning */
.inner-addon {
    position: relative;
}

/* style glyph */
.inner-addon .glyphicon {
    position: absolute;
    padding: 10px;
    pointer-events: none;
}

/* align glyph */
.left-addon .glyphicon {
    left: 0px;
}

.right-addon .glyphicon {
    right: 0px;
}

/* add padding  */
.left-addon input {
    padding-left: 30px;
}

.right-addon input {
    padding-right: 30px;
}

/* Message bag */
#messages-bag {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

#messages-bag .inner-messages {
    margin: 0 auto;
    max-width: 50%;
}

.pwstrength-progressbar {
    max-height: 5px;
}
